.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex: 1;
  min-height: 0; /* allow children to overflow-scroll properly */
}

